<div class="card">
    <div class="card-header">
        <h6>Editar vista de Gráfica</h6>
    </div>
    <div class="card-body">
        <form class="form">

            <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">Ver por</label>
                <div class="col-lg-9">
                    <select class="form-select">
                        <option name="dependencia">
                            Año
                        </option>
                        <option name="dependencia">
                            Mes
                        </option>
                    </select>
                </div>

            </div>
            <br>
            <div class="col-12 d-flex justify-content-center" style="margin: auto;">
                <button class="btn btn-success col-12">Ver</button>

            </div>
        </form>
    </div>
</div>