<form class="container">
  <div>
    <div style="text-align: center;">
      <button class="btn btn-success" style="margin:20px ; padding: 20px; font-size: 22px;" type="button" (click)="agregarUsuario()">Agregar Usuario</button>
      <button class="btn btn-success" style="margin:20px; padding: 20px; font-size: 22px;" type="button" (click)="agregarEmpleado()">Agregar Empleado</button>
    </div>
    <h3 >Tabla de Empleados</h3>
    <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">Apellido y Nombre</th>
            <th scope="col">Legajo</th>
            <th scope="col">Correo</th>
            <th scope="col">Dependencia</th>
            <th scope="col">User</th>
            <th scope="col">Perfil</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of empleados">
            <td>{{item.apellido}}, {{item.nombre}}</td>
            <td>{{item.legajo}}</td>
            <td>{{item.correo}}</td>
            <td>{{item.dependencia}}</td>
            <td>{{item.user.username}}</td>
            <td>{{item.user.perfil}}</td>
            <td>
              <button (click)="modificarEmpleado(item)" class="btn btn-success"><i class="bi bi-pen"></i></button>
              <button (click)="borrarEmpleado(item)" class="btn btn-danger"><i class="bi bi-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <br>
      <h3>Tabla de Usuarios</h3>
      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre de Usuario</th>
            <th scope="col">Perfil</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of usuarios">
            <td>{{item.username}}</td>
            <td>{{item.perfil}}</td>
            <td>
              <button (click)="modificarUsuario(item)" class="btn btn-success"><i class="bi bi-pen"></i></button>
              <button (click)="borrarUsuario(item)" class="btn btn-danger"><i class="bi bi-trash"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</form>