<form>
  <div>
    <h3>Tabla de Empleados</h3>
    <div class="d-grid gap-2">
      <button class="btn btn-primary" style="padding:20px ; font-size: 22px;" type="button" (click)="agregarEmpleado()">Agregar Empleado</button>
    </div>
    <table class="table bg-info">
        <thead>
          <tr>
            <th scope="col">Apellido</th>
            <th scope="col">Nombre</th>
            <th scope="col">Legajo</th>
            <th scope="col">Correo</th>
            <th scope="col">Dependencia</th>
            <th scope="col">User</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of empleados">
            <td>{{item.apellido}}</td>
            <td>{{item.nombre}}</td>
            <td>{{item.legajo}}</td>
            <td>{{item.correo}}</td>
            <td>{{item.dependencia}}</td>
            <td></td>
            <td>
              <button (click)="modificarEmpleado(item)" class="btn btn-success">Modificar</button>
              <button (click)="borrarEmpleado(item)" class="btn btn-danger">Borrar</button>
            </td>
            <td></td>
          </tr>
        </tbody>
      </table>
  </div>
</form>
