<form>
    <div>
      <h3>Tabla de Empleados Registrados</h3>
      <table class="table bg-info">
          <thead>
            <tr>
              <th scope="col">Apellido</th>
              <th scope="col">Nombre</th>
              <th scope="col">Legajo</th>
              <th scope="col">Correo</th>
              <th scope="col">Dependencia</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of empleados">
              <td>{{item.apellido}}</td>
              <td>{{item.nombre}}</td>
              <td>{{item.legajo}}</td>
              <td>{{item.correo}}</td>
              <td>{{item.dependencia}}</td>
            </tr>
          </tbody>
        </table>
    </div>
  </form>
  