#body{
	margin:0;
	
	background:url(https://images.pexels.com/photos/3183183/pexels-photo-3183183.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) ;
	
	background-repeat:no-repeat;
	background-size: cover;
    height: 100%;
    width: 100%;
}
.cal-events {
    display: none !important;
  
}
.mc {
    margin-top: 300px;
    margin-left: 300px;
   
}

.container {
    background: rgb(5, 5, 5);
    border-radius: 10px;
    width: 70%;
}