
<div class="container">
    <div class="row text-center">

        <div class="col-md-4">
            <div class="btn-group">
                <div class="btn btn-outline-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">
                    retroceder
                </div>
                <div class="btn btn-outline-primary" mwlCalendarToday [(viewDate)]="viewDate">
                    hoy
                </div>
                <div class="btn btn-outline-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">
                    siguiente 
                </div>
            </div>
        </div>
    
        <div class="col-md-4" style="color: white;">
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
    
        <div class="col-md-4">
            <div class="btn-group">
                <div class="btn btn-outline-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
                    Mes
                </div>
                <div class="btn btn-outline-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
                    Semana
                </div>
                <div class="btn btn-outline-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
                    Dia
                </div>
            </div>
        </div>
    
    
    </div>
    
    <div [ngSwitch]="view" style="background: black ;">
    
        <mwl-calendar-month-view (dayClicked)="dayClicked($event.day)" *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events">
        </mwl-calendar-month-view>
    
        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events">
        </mwl-calendar-week-view>
    
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events">
        </mwl-calendar-day-view>
    
    </div>

    <div>
        <h3 style="text-align: center;">Tabla de Reuniones</h3>
        <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th scope="col">Dia</th>
                <th scope="col">Mes</th>
                <th scope="col">Anio</th>
                <th scope="col">Hora Comienzo</th>
                <th scope="col">Hora Final</th>
                <th scope="col">Participantes</th>
                <th scope="col">Recursos</th>
                <th scope="col">Nro Oficina</th>
                <th scope="col">Tipo Reunion</th>
                <th scope="col">Tema Reunion</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of reuniones">
                <td>{{item.dia}}</td>
                <td>{{item.mes}}</td>
                <td>{{item.anio}}</td>
                <td>{{item.horaComienzo}}</td>
                <td>{{item.horaFinal}}</td>
                <td>{{item.participantes}}</td>
                <td>{{item.recursos}}</td>
                <td>{{item.nroOficina}}</td>
                <td>{{item.tipoReunion}}</td>
                <td>{{item.temaReunion}}</td>
                <td>{{item.estado}}</td>
                <!--<td>
                  <button (click)="modificarEmpleado(item)" class="btn btn-success"><i class="bi bi-pen"></i></button>
                  <button (click)="borrarEmpleado(item)" class="btn btn-danger"><i class="bi bi-trash"></i></button>
                </td>-->
              </tr>
            </tbody>
          </table>
      </div>
</div>

