.col-10{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

button{
    margin: 4px;
}

table{
    margin-top: 30px;
    vertical-align: middle;
    text-align: center;
}

label{
    color: white;
}

.col-8{
    margin-left: auto;
    margin-right: auto;
}

input{
    margin-left: auto;
    margin-right: auto;
}

input[id^="spoiler"]{
    display: none;
    }
    /* Estilo botón clicable */
    input[id^="spoiler"] + label {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 5px 20px;
  
    cursor: pointer;
    }
    /* Estilo botón cuando su INPUT está seleccionado */
    input[id^="spoiler"]:checked + label {
    color: rgb(245, 245, 245);
    background: rgb(25, 64, 116);
    }
    /* Estilo caja DESARROLLADORES (inicialmente oculto) */
    input[id^="spoiler"] ~ .spoiler {
    width: 90%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 10px auto 0;
    }
    /* Estilo caja  DESARROLLADORES cuando su INPUT está seleccionado */
    input[id^="spoiler"]:checked + label + .spoiler{
    height: auto;
    opacity: 1;
    }


    .container-position {
      
        position: relative;
     
       }
       
       .footer {
        position: absolute;
        bottom: 0;
        height: 25px;
        background-color: blue;
        width: 100%;
       }