.col-10{
    margin-left: auto;
    margin-right: auto;
}

button{
    margin: 4px;
}

table{
    margin-top: 30px;
    vertical-align: middle;
    text-align: center;
}

label{
    color: white;
}