#body{
	margin:0;
	
	background:url(https://images.pexels.com/photos/3183183/pexels-photo-3183183.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) ;
	
	background-repeat:no-repeat;
	background-size: cover;
    height: 100%;
    width: 100%;
}
.col-10{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.507);
    padding-left: 20px;
    padding-right: 20px;
}

button{
    margin: 4px;
}

table{
    margin-top: 30px;
    vertical-align: middle;
    text-align: center;
}

label{
    color: white;
}

.col-8{
    margin-left: auto;
    margin-right: auto;
}

input{
    margin-left: auto;
    margin-right: auto;
}

#body{
    margin-top: 0px;
    
}
#centro{
    margin-top: 50px;
}
#centro div {
    
    justify-content: center;
    text-align: center;
    align-items: center;
}
.imgRedonda {
    width:140px;
     height:140px;
    border-radius:150px;
}

label:hover{
    border-radius:10px;
    background: #716add;
    color: white;
    transform:scale(1.2);
}



/* Ocultar botón radio */
input[id^="spoiler"]{
    display: none;
    }
    /* Estilo botón clicable */
    input[id^="spoiler"] + label {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 5px 20px;
  
    cursor: pointer;
    }
    /* Estilo botón cuando su INPUT está seleccionado */
    input[id^="spoiler"]:checked + label {
    color: rgb(245, 245, 245);
    background: rgb(25, 64, 116);
    }
    /* Estilo caja DESARROLLADORES (inicialmente oculto) */
    input[id^="spoiler"] ~ .spoiler {
    width: 90%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 10px auto 0;
    }
    /* Estilo caja  DESARROLLADORES cuando su INPUT está seleccionado */
    input[id^="spoiler"]:checked + label + .spoiler{
    height: auto;
    opacity: 1;
    }


    .container-position {
      
        position: relative;
     
       }
       
       .footer {
        position: absolute;
        bottom: 0;
        height: 25px;
        background-color: blue;
        width: 100%;
       }