<div class="container">

    <div>
        <h4 class="text-center m-3">Estadisticas</h4>
    </div>
    <app-estadistica-menu></app-estadistica-menu>
    <div class="m-3 row">
        <app-estadistica-form-tiempo class="col-lg-4"></app-estadistica-form-tiempo>
        <div class="col-lg-6">
            <div class="row">
                <app-grafica-barra class="col-12 mt-3"></app-grafica-barra>

                <app-grafica-torta class="col-12 mt-3"></app-grafica-torta>
            </div>
        </div>
    </div>



</div>