<div class="container">

    <div>
        <h4 class="text-center m-3 text-white">Estadisticas</h4>
    </div>

    <div class="m-3 row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <app-grafica-barra></app-grafica-barra>
                    <br>
                    <app-grafica-barra-oficina></app-grafica-barra-oficina>
                    <br>
                    <app-grafica-barra-tiporeunion></app-grafica-barra-tiporeunion>
                </div>




                <div class="col-md-6">
                    <app-grafica-torta></app-grafica-torta>
                    <br>
                    <app-grafica-torta-tipo></app-grafica-torta-tipo>
                </div>
            </div>
        </div>

    </div>



</div>