#body{
	margin:0;
	
	background:url(https://images.pexels.com/photos/3183183/pexels-photo-3183183.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) ;
	
	background-repeat:no-repeat;
	background-size: cover;
    height: 100%;
    width: 100%;
}
#formulario{
    margin-right: auto;
    margin-left: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.507);
    padding-left: 10px;
    padding-right: 10px;
}

#izq{
    float: left;
}

#der{
    float: right;
}


form{
    margin-top: 50px;
}


button{
    margin-bottom: 20px;
}


