#formulario{
    margin-right: auto;
    margin-left: auto;
    color: white;
}

#izq{
    float: left;
}

#der{
    float: right;
}


form{
    margin-top: 50px;
}


button{
    margin-bottom: 20px;
}


