<div class="card bg-dark text-white border border-danger p-3">
    <form action="">

        <div class="">
            <div class=" col-md-12 ">
                <label for=" tipos" class="form-label h5 text-white">Tipo de Reunión: {{tipo}}</label>
                <div class="input-group">
                    <select class="form-select" [(ngModel)]="tipo" name="tipo">
                        <option name="tipo" *ngFor="let tipo of tipoReunion" [ngValue]="tipo">{{tipo}}
                        </option>
                    </select>
                    <span class="input-group-text"><i class="bi bi-person-bounding-box"></i></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <label for="Mes" class="form-label h5 text-white">Rango de meses: {{rango}}</label>
                    <div class="input-group">
                        <select class="form-select" aria-label="Default select example" [(ngModel)]="rango" required
                            name="etiquetas">
                            <option name="etiquetas" [ngValue]=1>Enero - Junio</option>
                            <option [ngValue]=0>Julio - Diciembre</option>
                        </select>
                        <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="Anio" class="form-label h5 text-white">Año: {{anio}}</label>
                    <div class="input-group">
                        <select type="number" class="form-select" aria-label="Default select example" [(ngModel)]="anio"
                            required name="anio">
                            <option name="anio" [ngValue]=2022>2022</option>
                            <option name="anio" [ngValue]=2023>2023</option>
                            <option name="anio" [ngValue]=2024>2024</option>
                        </select>
                        <span class="input-group-text"><i class="bi bi-calendar2-check"></i></span>
                    </div>


                </div>

            </div>
        </div>
        <div class="d-grid gap-2 p-3">
            <button class="btn btn-success" (click)="buscarReunionesDeTipo()"
                [disabled]="!tipo||rango==undefined||!anio"><i class="bi bi-arrow-repeat"></i></button>
        </div>
    </form>
    <div>
        <div class="card bg-light">
            <div style="display: block">
                <canvas baseChart [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
                    [type]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
    </div>

</div>