body{
    margin:0;
	color:#2d43c0a6;
	background:url(https://images.pexels.com/photos/3183183/pexels-photo-3183183.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1) ;
	/* font:100% 16px/18px 'Open Sans',sans-serif; */
	background-repeat:no-repeat;
	background-size: cover;
    height: 100%;
    width: 100%;
}