body{
    margin-top: 90px;
}
#centro{
    margin-top: 50px;
}
#centro div {
    
    justify-content: center;
    text-align: center;
    align-items: center;
}




/* Ocultar botón radio */
input[id^="spoiler"]{
    display: none;
    }
    /* Estilo botón clicable */
    input[id^="spoiler"] + label {
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 5px 20px;
  
    cursor: pointer;
    }
    /* Estilo botón cuando su INPUT está seleccionado */
    input[id^="spoiler"]:checked + label {
    color: rgb(245, 245, 245);
    background: rgb(25, 64, 116);
    }
    /* Estilo caja SPOILER (inicialmente oculto) */
    input[id^="spoiler"] ~ .spoiler {
    width: 90%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 10px auto 0;
    }
    /* Estilo caja SPOILER cuando su INPUT está seleccionado */
    input[id^="spoiler"]:checked + label + .spoiler{
    height: auto;
    opacity: 1;
    }
