/* 
div{
   
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}


form div {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
} 
form h2{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}
*/

.col{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

input{
    margin: 10px;
}
