<div class="row">
    <div class="col col-8">
        
        <form #loginForm="ngForm">
            <h2>Login</h2>
            <div>
                <img src="/assets/img/iniciar-sesion.png" alt="" style="width:100px; height:100px">
            </div>
            
            <div class="form-group">
                <input placeholder="Usuario" required maxlength="10" minlength="1" type="text" class="formcontrol" name="username" [(ngModel)]="userform.username"   #user="ngModel" /> <!-- [(ngModel)]="userform.username" -->
                <div *ngIf="user.invalid && (user.dirty || user.touched)" class="alert alert-danger" style="height: 50px;width: 330px;text-align:center;margin-left: auto;margin-right: auto;">
                     Debe ingresar un nombre de usuario 
               </div>
            </div>
            <div class="form-group">
                <input placeholder="Contraseña" required maxlength="10" minlength="3" type="password" class="formcontrol" name="password"  [(ngModel)]="userform.password"  #password="ngModel"/> <!-- [(ngModel)]="userform.password" -->
                
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger"  style="height: 50px;width: 290px;text-align:center;margin-left: auto;margin-right: auto;">
                    Debe ingresar una contraseña
                </div>
            </div>
            <div class="form-group">
                <button  [disabled]="!loginForm.form.valid" class="btnn " (click)="login()">Ingresar</button>
            </div>
            <div class="alert-danger">{{msglogin}}</div>
        </form>
    </div>
</div>
