<div class="row">
    <div class="col-10">

        <form >
            <div class="mb-3">
                <label for="temaReunion" class="form-label">Tema</label>
                <input type="text" class="form-control" id="temaReunion" aria-describedby="temaReunion" required name="temaReunion" >
            </div>
            
            <div class="mb-3">
                <label for="tipoReunion" class="form-label">Tipo</label>
                <select class="form-select" aria-label="Default select example" required  name="tipoReunion" >
                    <option value="Informativa">Digital</option>
                    <option value="Formativa">Fisico</option>
                </select>
            </div>
           
            <div class="mb-3">
                <label for="temaReunion" class="form-label">Stock</label>
                <input type="text" class="form-control" id="temaReunion" aria-describedby="temaReunion" required name="temaReunion" >
            </div>

            <div class="mb-3">
                <label for="temaReunion" class="form-label">Descarga</label>
                <input type="text" class="form-control" id="temaReunion" aria-describedby="temaReunion" required name="temaReunion" >
            </div>


        </form>

           
           

    </div>
</div>