<div id="body">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h4>Alta Empleado</h4>
            </div>
            <div class="card-body">
                <form class="form">
    
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Apellido</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control">
                        </div>
    
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Nombre</label>
                        <div class="col-lg-9">
                            <input type="text" class="form-control">
                        </div>
    
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Legajo</label>
                        <div class="col-lg-9">
                            <input type="number" class="form-control">
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Correo</label>
                        <div class="col-lg-9">
                            <input type="email" class="form-control">
                        </div>
    
                    </div>
                    <br>
                    <div class="form-group row">
                        <label class="col-lg-3 col-form-label form-control-label">Dependencia</label>
                        <div class="col-lg-9">
                            <select class="form-select">
                                <option name="dependencia">
                                    opción 1
                                </option>
                                <option name="dependencia">
                                    opción 2
                                </option>
                            </select>
                        </div>
    
                    </div>
                    <br>
                    <div class="col-12 d-flex justify-content-center" style="margin: auto;">
                        <button type="submit" class="btn btn-success col-6">guardar</button>
                        <a class="btn btn-secondary ms-3">Cancel</a>
    
                    </div>
                </form>
            </div>
        </div>
    
    </div>
</div>
