ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4 ease-in-out;
}

ul li a:hover{
    color: #716add;
    transform:scale(1.2);
}

#img-ico{
    float: right;
    margin-right: 20px;
    padding-right: 20px;
}
#img-ico2 button{
    margin-left: 40px;
    
}