<header class="p-3 bg-dark text-white">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <!-- icono de empresa-->
      <div id="img-ico">
        <a title="empresa" href="https://www.youtube.com/watch?v=x9Bu-PCoufs" target="_blank">
          <img src="/assets/img/icono-sistema/evento-planeado.png" alt="" style="width:48px; height:48px">
        </a> 
      </div>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 " [routerLink]="['home']">Home</a></li>
          <!--****************************+administradores+*************************-->
          <div *ngIf="loginService.userLoggedInAdmin()">
            <li><a href="#" class="nav-link px-2 "[routerLink]="['empleado']">Empleados</a></li>
          </div>
          <div *ngIf="loginService.userLoggedInAdmin()">
            <li><a href="#" class="nav-link px-2 "[routerLink]="['listarReunion']">Reuniones</a></li>
          </div>
          <div *ngIf="loginService.userLoggedInAdmin()">
            <li><a href="#" class="nav-link px-2 "[routerLink]="['listarRecurso']">Recursos</a></li>
          </div>
          <!--***************************+Participantes+****************************-->
          <div *ngIf="loginService.userLoggedInParticipante()">
            <li><a href="#" class="nav-link px-2 "[routerLink]="['calendario']">Agenda</a></li>
          </div>
      </ul>

      <div class="text-end">
         <a *ngIf="(!loginService.userLoggedInParticipante())&&(!loginService.userLoggedInAdmin())" [routerLink]="['login']">
          <button type="button" class="btn btn-outline-light me-2" value="(Login)">Login</button>
        </a>
        <a *ngIf="(loginService.userLoggedInParticipante())||(loginService.userLoggedInAdmin())" [routerLink]="['login']" (click)="logout()">
          <div id="img-ico2">
             <!-- icono del usuario logueado-->
            <img src="/assets/img/iniciar-sesion.png" alt="" style="width:42px; height:42px">
            {{loginService.userLogged()}}
            <button type="button" class="btn btn-warning" value="(logout)">Salir</button>
          </div>
          
          
        </a>  
      </div>
    </div>
  </div>
</header>
